* {
    font-family: Silkscreen, sans-serif;
}

@keyframes colorChange {
    0% { color: red; }
    50% { color: yellow; }
    100% { color: orange; }
}
body {
    background-image: radial-gradient(black, rgb(15, 8, 8));
}

h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: Silkscreen, sans-serif;
}

#current-round-results {
    color: orange;
    display: flex;
    justify-content: center;
    animation: colorChange 2s infinite;
}

#options {
    display: flex;
    flex-direction: row;
    max-width: 100;
    min-height: 200px;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid white;
    border-radius: 4px;
}
.player-options-buttons {
    background-color: black;
    width: 100px;
}
.player-options-buttons:hover {
    cursor:pointer;
}
button {
    min-height: 50px;
    height: 80px;
    min-width: 50px;
    width: 80px;
    background-image: linear-gradient(to bottom left, rgba(128, 0, 128, 0.452), rgba(9, 59, 196, 0.5));
    border-radius: 5px;
    border: 2px solid white;
}
button:hover {
    background-image: linear-gradient(to bottom left, rgba(128, 0, 128, 0.692), rgba(9, 59, 196, 0.753));
    box-shadow: white -5px 5px 15px;
    animation: shaking 0.2s;}
    @keyframes shaking {
        0% {transform: rotate(0deg);}
        20% {transform: rotate(-4deg);}
        50% {transform: rotate(0deg);}
        70% {transform: rotate(4deg);}
        100% {transform: rotate(0deg);}
    }


#turn {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

#scoreBoard {
    background-color: rgba(128, 0, 128, 0.219);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid white;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
}

#scores {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#game-summary {
    background-color: rgba(0, 128, 0, 0.733);
    height: 1000px;
    width: 1000px;

}